body {
  background-color: #000;
  color: #fff;
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  text-align: left;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.date {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 20px;
}

.content {
  font-size: 1rem;
  line-height: 1.6;
  color: #eaeaea;
}

.buttonBlog {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  transition: background 0.3s ease, color 0.3s ease;
}

.buttonBlog:hover {
  background: #fff;
  color: #000;
}

.button-container {
  display: flex;
  justify-content: center;
}
