/* Container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  background-color: #00000000;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
  max-width: 300px;
  width: 100%;
  text-decoration: none;

  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect */
.card:hover {
  transform: translateY(-10px);
  background-color: #2a2a2a;
}

/* Card image */
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Card content styles */
.card-content {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.card-content h3 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 18px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
}

.card-content p {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

.card-link {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 14px;
  color: #ccc;
  text-decoration: none !important;
}

.project-title {
  text-align: center;
  font-size: 28px;
  color: rgb(222, 224, 232);
  margin-bottom: 30px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
